<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Listar Libros</title>

  <!-- Bootstrap core CSS -->
  
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/libro">Admin Libro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Lista de Libros</h1>
    
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <div>
  		
         <div class="container">
           <table class="table" border="1px"><br>
           
           <p th:text="${mensaje}"></p>
             
             <thead  class="thead-dark">
               <tr class="text-info">
                 <th  scope="col">Titulo</th>
                 <th  scope="col">Autor</th>
                 <th  scope="col">Año</th>
                 <th  scope="col">Editorial</th>
                 <th  scope="col">Ejemplares</th>
                 <th  scope="col">Prestados</th>
                 <th  scope="col">Puntuación</th>
                 <th scope="col">Modificar</th>
                 <th scope="col">Eliminar</th>
               </tr>
             </thead>
             <tbody>
               <tr  th:each="l : ${libro}">
               <td th:text="${l.titulo}"></td>
               <td th:text="${l.autor.nombre}"></td>
               <td th:text="${l.anio}"></td>
               <td th:text="${l.editorial.nombre}"></td>
               <td th:text="${l.ejemplares}"></td>
               <td th:text="${l.prestados}"></td>
               <td th:text="${l.puntuacion}"></td>
               <td>
	               <a class="btn btn-primary"  th:href="@{/libro/modificarLibro(isbn=__${l.isbn}__)}" > Modificar </a>
	           </td>
	           <td>
	           		<a class="btn btn-primary" th:href="@{/libro/eliminar-libro-get/}+${l.isbn}">Eliminar</a>
	               <!--  <form action= "/libro/eliminar-libro" method="POST" > 
	               		<input type="hidden" name="isbn" th:value="${l.isbn}"/><input class="btn btn-primary"  type="submit" value="Eliminar" /> 
                   </form>-->
               </td>
                  
               
             </tr>
             </tbody>
     
     
       </table>

     <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>

       </div>

</div>

<section style="text-align: center;">
    <div class="container">
        <a  class="btn btn-primary btn-xl rounded-pill mt-5" href="/libro">Volver</a>

    </div><br>
</section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Librería Egg</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>