<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Realizar Devolución</title>

  <!-- Bootstrap core CSS -->
  
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/one-page-wonder.min.css" rel="stylesheet">
  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/prestamo">Menú</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Lista de Libros Prestados</h1>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  
  <table class="table" border="1px"><br>
    <thead class="thead-dark">
     <tr class="text-info">
     
      <th  scope="col">Nombre </th>
      <th  scope="col">Apellido </th>
      <th  scope="col">Documento </th>
       <th  scope="col">Libro </th>
       <th  scope="col">fecha devolucion </th>
       <th  scope="col">fecha entregado </th>
       <th  scope="col">Acción </th>
       
     
     </tr>
   </thead>
   <tbody>
     <tr  th:each="l : ${prestamo}">  
     <td th:text="${l.cliente.nombre}"></td>  
     <td th:text="${l.cliente.apellido}"></td>  
     <td th:text="${l.cliente.documento}"></td>  
     <td th:text="${l.libro.titulo}"></td>   
     <td th:text="${l.devolucion}"></td>  
      <td th:text="${l.fecha}"></td> 
      <td>
      	
            <a class="btn btn-primary" name="id"  th:href="@{/libro/devolverPuntuacion/}+${l.id}" >Devolver</a>
          
      </td>    
    

   </tr>
   </tbody>
    </table>


<section style="text-align: center;">
    <div class="container">
        <a  class="btn btn-primary btn-xl rounded-pill mt-5" href="/prestamo">Volver</a>

    </div><br>
</section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Librería Egg</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>